absl-py==1.4.0
anyio==3.7.0
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
attrs==23.1.0
Babel==2.10.3
backcall==0.2.0
Beaker==1.12.1
beautifulsoup4==4.12.2
bleach==6.0.0
blivet==3.5.0
blivet-gui==2.4.1
cachetools==5.3.1
cairocffi==1.3.0
CairoSVG==2.7.0
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.2.1
comm==0.1.3
conda==4.13.0
contourpy==1.1.0
cssselect==1.1.0
cssselect2==0.6.0
cupshelpers==1.0
cycler==0.11.0
dasbus==1.6
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distro==1.7.0
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
Farama-Notifications==0.0.4
fastjsonschema==2.17.1
fedora-third-party==0.10
file-magic==0.4.0
flatbuffers==23.5.26
fonttools==4.40.0
fqdn==1.5.1
fros==1.1
frozendict==1.2
fs==2.4.11
gast==0.4.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
gymnasium==0.28.1
h5py==3.9.0
humanize==3.13.1
idna==3.3
initial-setup==0.3.95
ipykernel==6.23.3
ipympl==0.9.3
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jax==0.4.13
jax-jumpy==1.0.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.4
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras==2.12.0
kiwisolver==1.4.4
koji==1.33.0
langtable==0.0.62
libclang==16.0.0
Mako==1.1.4
Markdown==3.4.1
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
meson==1.0.1
mistune==3.0.1
ml-dtypes==0.2.0
munkres==1.1.2
mutagen==1.45.1
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
nftables==0.1
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.23.5
oauthlib==3.2.2
olefile==0.46
openpyxl==3.1.2
opt-einsum==3.3.0
overrides==7.3.1
packaging==21.3
pandas==2.0.2
pandocfilters==1.5.0
parso==0.8.3
Paste==3.5.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==9.5.0
platformdirs==3.8.0
ply==3.11
podman-compose==1.0.6
powerline-status==2.8.3
productmd==1.35
progressbar2==3.53.2
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.23.3
psutil==5.9.5
ptyprocess==0.6.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.20
pyenchant==3.2.2
pygame==2.1.3
Pygments==2.12.0
pyinotify==0.9.6
pykickstart==3.41
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
pystray==0.17.3
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-gettext==4.0
python-json-logger==2.0.7
python-manatools==0.0.4
python-meh==0.50
python-pam==2.0.2
python-utils==3.1.0
python-xlib==0.33
pytz==2023.3
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpmautospec==0.3.5
rsa==4.9
ruamel.yaml==0.17.24
scikit-learn==1.2.2
scipy==1.11.0
scour==0.38.2
Send2Trash==1.8.2
sepolicy==3.5
setroubleshoot==3.3.32
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
sos==4.4
soupsieve==2.3.2.post1
stack-data==0.6.2
Tempita==0.5.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.1.1
toolz==0.11.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.6.3
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.15
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.6
widgetsnbextension==4.0.7
wrapt==1.14.1
xcffib==0.11.1
xlrd==2.0.1
yt-dlp==2023.3.4
